@import url( http://fonts.googleapis.com/css?family=Ubuntu );

body {
	font-size: 12px;
	font-family: 'Ubuntu';
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.edge {
	stroke: black;
	stroke-width: 2;
}
